@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-one: #8261EE;
  --color-two: #FF589E;
  --color-bg: #F2F2FE;
  --color-text-one: #1E1E1E;
  --color-text-two: #777777;

  --font: "Raleway", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--color-text-one);
  line-height: 1.6;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

::selection {
  background-color: var(--color-two);
  color: #fff;
}

/* Button */
.button {
  display: inline-block;
  padding: 8px 22px;
  background-color: #fff;
  border-radius: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: #ddd;
}

.button-two {
  background-color: var(--color-two);
  color: #fff;
}

.button-two:hover {
  background-color: var(--color-one);
  color: #fff;
}

.button-one {
  color: #fff;
  background-color: var(--color-one);
}

.button-one:hover {
  background-color: var(--color-two);
  color: #fff;
}
/* End Button */

/* Box Head */
.box-head {
  text-align: center;
  margin-bottom: 30px;
}

.box-head .inner-title {
  font-size: 28px;
}

.box-head .inner-desc {
  font-size: 18px;
  color: var(--color-text-two);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}
/* End Box Head */