/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 30px;
  left: 0;
  z-index: 9999;
}

.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 25px 30px;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.header.inner-logo img {
  height: 30px;
  width: auto;
}

.header .inner-main .inner-menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header .inner-main .inner-menu ul li {
  margin-right: 25px;
}

.header .inner-main .inner-menu ul li .active {
  color: var(--color-two);
}

.header .inner-main .inner-menu ul li a {
  color: var(--color-text-one);
  font-size: 14px;
  font-weight: 500;
  transition: all 0.1s linear;
}

.header .inner-main .inner-menu ul li a:hover {
  color: var(--color-two);
}

.header .inner-main .inner-bars {
  font-size: 25px;
  display: none;
}

@media (max-width: 991.98px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-main .inner-bars {
    display: block;
  }
}

/* End Header */

/* Section One */
.section-one {
  background-image: url(../image/banner-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one .inner-wrap {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.section-one .inner-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}

.section-one .inner-desc {
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .section-one .inner-title {
    font-size: 20px;
  }

  .section-one .inner-desc {
    font-size: 13px;
  }
}

/* End Section One */

/* Section Two */
.section-two {
  margin-top: -250px;
}

.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.section-two .inner-box:hover .inner-icon {
  background-color: var(--color-two);
}

.section-two .inner-box .inner-icon {
  width: 80px;
  height: 80px;
  background-color: var(--color-one);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease-in;
}

.section-two .inner-box .inner-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-two .inner-box .inner-title {
  font-size: 18px;
  margin: 30px 0 15px 0;
}

.section-two .inner-box .inner-desc {
  font-size: 13px;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .section-two {
    margin-top: 0;
  }
}

/* End Section Two */

/* Section Three */
.section-three {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-three .inner-image {
  text-align: center;
}

.section-three .inner-image img {
  max-width: 100%;
  height: auto;
}

.section-three .inner-content .inner-title {
  font-size: 28px;
  margin-bottom: 35px;
}

.section-three .inner-content .inner-desc {
  color: var(--color-text-two);
}

.section-three .inner-boder-bottom {
  border-bottom: 1px solid #e4dcdc;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

@media (max-width: 991.98px) {
  .section-three .inner-image {
    margin-bottom: 40px;
  }

  .section-three .inner-content {
    margin-bottom: 40px;
  }
}

/* End Section Three */

/* Section Six */
.section-six {
  background-image: url(../image/work-process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.section-six .box-head .inner-title {
  color: #fff;
}

.section-six .box-head .inner-desc {
  color: #fff;
  font-size: 16px;
}

.section-six .inner-box {
  background-color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 10px 10px rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in;
  margin-bottom: 30px;
}

.section-six .inner-box:hover {
  transform: translateY(-10px);
}

.section-six .inner-box .inner-icon {
  margin-bottom: 20px;
}

.section-six .inner-box .inner-title {
  margin-bottom: 5px;
}

.section-six .inner-box .inner-desc {
  color: var(--color-text-two);
  font-size: 15px;
  max-width: 100px;
  margin: 0 auto;
}

/* End Section Six */

/* Section Seven */
.section-seven {
  padding: 100px 0;
}

.section-seven .box-head {
  margin-bottom: 60px;
}

.section-seven .box-head .inner-desc {
  font-size: 15px;
}

.section-seven .inner-box {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.section-seven .inner-box .inner-icon {
  text-align: center;
  margin-bottom: 30px;
}

.section-seven .inner-box .inner-desc {
  font-size: 15px;
  color: var(--color-text-two);
  margin-bottom: 20px;
  line-height: 1.7;
}

.section-seven .inner-box .inner-info {
  display: flex;
  align-items: center;
}

.section-seven .inner-box .inner-info .inner-image {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.section-seven .inner-box .inner-info .inner-content {
  transition: all 0.2s ease-in;
}

.section-seven .inner-box:hover .inner-info .inner-content {
  transform: translateX(10px);
}

.section-seven .inner-box .inner-info .inner-content .inner-sub-desc {
  color: var(--color-two);
  font-size: 15px;
}

/* End Section Seven */

/* Section Eight */
.section-eight {
  background-color: var(--color-bg);
  padding: 100px 0;
}

.section-eight .box-head {
  margin-bottom: 60px;
}

.section-eight .box-head .inner-desc {
  font-size: 15px;
}

.section-eight .inner-box {
  background-color: #fff;
  padding: 40px 30px 30px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.section-eight .inner-box .inner-sub-title {
  font-weight: 500;
  margin-bottom: 15px;

  font-size: 18px;
}

.section-eight .inner-box .inner-info {
  background-color: var(--color-one);
  padding: 20px 50px 10px;
  border-radius: 20px;
  color: #fff;
  margin-bottom: 30px;
}

.section-eight .inner-box .inner-info .inner-price {
  font-size: 28px;
  font-weight: 600;
}

.section-eight .inner-box .inner-info .inner-price span {
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin: 0;
}

.section-eight .inner-box .inner-sub-desc {
  color: var(--color-text-two);
  line-height: 2.3;
  font-size: 13px;
  margin-bottom: 40px;
}

/* .section-eight .inner-box:nth-child(2) .inner-info {
  background-color: var(--color-two);
}  */
/* Khong an mau  */

/* End Section Eight */

/* Section Nine */
.section-nine {
  background-color: var(--color-bg);
  padding: 100px 0;
}

.section-nine .box-head .inner-desc {
  font-size: 15px;
}

.section-nine .inner-content {
  margin-bottom: 30px;
}

.section-nine .inner-content .inner-sub-title {
  font-weight: 500;
  font-size: 18px;
}

.section-nine .inner-content .inner-sub-desc {
  color: var(--color-text-two);
  font-size: 15px;
  margin-top: 30px;
}

.section-nine .inner-form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  /* outline: none; */
  border: none;
  margin-bottom: 30px;
}

.section-nine .inner-form input:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  outline: none;
  /* border: none; */
}

.section-nine .inner-form textarea {
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  height: 150px;
  border: none;
  margin-bottom: 30px;
}

.section-nine .inner-form textarea:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
  outline: none;
}

/* End Section Nine */

/* Section Five */
.section-five {
  background-image: url(../image/fun-facts-bg.png);
  padding: 80px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section-five .inner-box {
  position: relative;
}

.section-five .inner-box::before {
  content: "";
  display: block;
  width: 100px;
  height: 20px;
  position: absolute;
  background-image: url(../image/circle-dec.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 80%;
  top: 50%;
}

.section-five .inner-box .inner-content {
  color: #fff;
  text-align: center;
  transition: all 0.2s ease-in;
}

.section-five .inner-box .inner-content:hover {
  transform: translateY(-10px);
}

.section-five .inner-box .inner-content .inner-number {
  font-size: 32px;
  font-weight: 700;
}

.section-five .inner-box .inner-content .inner-title {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 991.98px) {
  .section-five .inner-box {
    text-align: center;
    margin: 10px 0;
  }

  .section-five .inner-box::before {
    display: none;
  }
}

/* End Section Five */

/* Section Four */
.section-four {
  padding-bottom: 80px;
  padding-top: 80px;
}

.section-four .inner-box {
  margin-bottom: 20px;
}

.section-four .inner-content {
  text-align: center;
  margin-top: 15px;
  padding: 10px;
}

.section-four .inner-content .inner-title {
  margin-bottom: 20px;
}

.section-four .inner-content .inner-title a {
  font-size: 18px;
  color: var(--color-text-one);
}

.section-four .inner-content .inner-title a:hover {
  color: var(--color-two);
}

.section-four .inner-content .inner-desc {
  color: var(--color-text-two);
  font-size: 13px;
}

.section-four .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 20px;
  overflow: hidden;
}

.section-four .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .section-four .inner-image {
    max-width: 370px;
    margin: 0 auto;
  }
}

/* End Section Four */

/* Footer */
.footer {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  padding: 30px 0;
}

.footer .inner-menu {
  padding-bottom: 30px;
  border-bottom: 0.1px solid #fff;
}

.footer .inner-menu ul {
  list-style-type: none;
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer .inner-menu ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #8261ee;
  transition: all 0.2s ease-in;
}

.footer .inner-menu ul li a:hover {
  background-color: var(--color-two);
  color: #fff;
}

.footer .inner-content {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
}
/* End Footer */